.source-code-pro-light {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.source-code-pro-regular {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.source-code-pro-medium {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.source-code-pro-semi {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.source-code-pro-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.source-code-pro-extra {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

